/* Reset some default styles to avoid unexpected behavior */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Style the body */
body {
    font-family: 'Bodoni Moda', serif;
    font-family: 'Libre Bodoni', serif;
    background-color: #eaf9f2;
    color: #333;
    
}

/* Style the header */
header {
    background-color: lavenderblush;
    color: black;
    text-align: center;
    padding: 20px;
    
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    text-align: center;
    background-color: lavenderblush;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 5px 5px #888888;
    
    
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
    
}

nav ul li a {
    text-decoration: none;
    color: #373a71;
    background-color: #eaf9f2;
    padding: 2px 5px;
    border-radius: 5px;
    
    
}

/* Style the centertxt div */
.centertxt {
    text-align: center;
    font-size: 24px;
    margin: 20px;
    text-shadow: 5px 5px 5px;
  text-decoration-color: black
}

/* Style the section containing notes */
section {
    padding: 20px;
    
    
}

/* Style the individual semesters and their content */
.sem1, .sem2, .sem3 {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: whitesmoke;
    
}

/* Style the download links */
a[href^="https://www.dropbox.com/scl/"] {
    color: green;
    text-decoration-color: green;
}

/*a[href^="https://www.dropbox.com/scl/"]:hover {
    
}*/

@keyframes textColorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
}

/* Apply the animation to the text */
.centertxt{
  animation: textColorChange 5s linear infinite;
  font-weight: bold;
  font-family: monaco;
  font-size: 16px;
}

footer {
  background-color: red;
}

.scm {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: whitesmoke;
    

}