/* Reset some default styles to avoid unexpected behavior */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: #eaf9f2;
    color: #333;
}

/* Style the header */
header {
    background-color: #936b9f;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Style the centertxt div */
.centertxt {
    text-align: center;
    font-size: 24px;
    margin: 20px;
}

/* Style the section containing notes */
section {
    border-radius: 25px;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
}

/* Style the individual semesters and their content */
.sem1, .sem2, .sem3 {
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Style the download links */
/* Style the download links */
/*a[href^="https://www.dropbox.com/scl/"] {
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    background-color: #4CAF50; /* Green color */
    color: #fff;
    padding: 10px 20px; /* Adjust the padding for size */
    border-radius: 5px;
    font-weight: bold;
}

a[href^="https://www.dropbox.com/scl/"]:hover {
    background-color: #45a049; /* Darker green color on hover */
}*/
